SESSION_SECRET=
SITE_PUBLIC_URL=https://staging.aluna-tierhilfe.org
SITE_STAGING=1
SITE_DEPLOY_HOST=<webspace>.1and1-data.host
SITE_DEPLOY_USER=
SITE_DEPLOY_PATH=/kunden/homepages/…/staging
SITE_DEPLOY_KEY_FILE=/data/site.key
